<!DOCTYPE html>
<html>
  <head>
    <title>SportDz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>soon</h1>
    <p>soooooooooooooooooooooooooon</p>
  </body>
</html>
